@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --createYellow: #FFF200;
}

body {
  background-color: #FFFFFF;
}

.leading-36 {
  line-height: 37px !important;
}
.leading-45 {
  line-height: 45px !important;
}
.griddy {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.bg-image {
  background-image: url('.././public/images/rectangle-27.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.griddy5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
  padding: 4rem 0;
}
@media only screen and (max-width: 900px) {
  .griddy5 {
    width: 80%;
    margin: 0 auto;
}
}
/* Header */
header a.active:before {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  background-color: black;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .griddy {
    grid-template-columns: 1fr 1fr;
    /* Two columns on mobile */
    grid-template-rows: auto auto;
    /* Two rows */
    grid-template-areas:
      "first first"
      "second third";
  }

  .griddy> :nth-child(1) {
    grid-area: first;
  }

  .griddy> :nth-child(2) {
    grid-area: second;
  }

  .griddy> :nth-child(3) {
    grid-area: third;
  }
}

.articles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
@media only screen and (max-width: 600px) {
  .articles-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.zoom-image {
  transition: transform 0.3s ease; /* Adjust duration and easing function as desired */
  /* Ensure the image will not be displaced out of its container */
  overflow: hidden;
  /* Use transform-origin to keep the image centered as it scales */
  transform-origin: center;
}

.zoom-image:hover {
  /* Scale the image to whatever size you want, 1.1 is a 10% zoom */
  transform: scale(1.1);
}